<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <p>{{ info }}</p>
  </div>
</template>

<script>
import axios from 'axios'

const apiUrl = "https://random-joke-api-dot-zoro-platform-sb.uc.r.appspot.com/";
// const apiUrl = "http://127.0.0.1:8080/";

export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Hello! Here is a random joke for you!',
      info: null
    }
  },
  mounted () {
    axios
      .get(apiUrl)
      .then(response => (this.info = response.data.joke))
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
</style>
